# .coveragerc to control coverage.py
[run]
branch = True
#source = /Users/keithpij/Documents/Python-Coverage-Demos/
parallel = False
omit = test_*, __init__.py

[report]
show_missing = True

[html]
directory = qualityreport
