# .coveragerc to control coverage.py
[run]
branch = True
#source = /Users/keithpij/Documents/python-sandbox/mint
parallel = False
omit = test_*, fixtures.py, __init__.py

[report]
show_missing = True

[html]
directory = covreport
